body{
    font-family: 'Times New Roman', Times, serif;
}

form
{
    width: 40%;
}

.input{
    background-color: lightblue;
}

.input:focus{
    background-color: white;
}

input{
    display: block;
}

